### **Setup Python**

In [1]:
# Importação - Bibliotecas Python
import pandas as pd
import numpy as np
from datetime import date, time, datetime
import os
import warnings

# Remoção de avisos do Python
warnings.filterwarnings("ignore")

# Path camada raw
path_raw = "../data/raw"

### **Overview - Dados TOTVS**

#### **Base de Dados: clientes_desde.csv**

Esta base registra a data de entrada de cada cliente na TOTVS, representando o início da relação contratual. Permite calcular métricas como "tempo como cliente" e analisar a retenção histórica ao longo dos anos.

In [22]:
# Leitura da base de dados "clientes_desde.csv"
df_clientes_desde = pd.read_csv(f"{path_raw}/clientes_desde.csv", sep=";")

print("Base de Dados: clientes_desde.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_clientes_desde.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_clientes_desde[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_clientes_desde[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_clientes_desde.shape[0]}")
print(f"Quantidade de colunas: {df_clientes_desde.shape[1]}")

Base de Dados: clientes_desde.csv

Arquitetura:
1. Coluna 'CLIENTE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'CLIENTE_DESDE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 10615
Quantidade de colunas: 2

In [11]:
# Visualização Inicial da base de dados "historico.csv"
df_clientes_desde.head()

  CLIENTE CLIENTE_DESDE
0  TFDICB    2023-01-27
1  TFCU91    2021-01-26
2  TFDDYV    2022-07-18
3  TEZBRW    2022-10-28
4  TEZCXN    2013-05-24

#### **Base de Dados: contratacoes_ultimos_12_meses.csv**

Base que apresenta o histórico de contratações realizadas pelos clientes nos últimos 12 meses.  
Contém informações sobre os produtos ou serviços contratados, valores e datas. É útil para entender o comportamento de compra recente e identificar tendências de expansão.

In [ ]:
# Leitura da base de dados "contratacoes_ultimos_12_meses.csv"
df_contratacoes_12m = pd.read_csv(f"{path_raw}/contratacoes_ultimos_12_meses.csv", sep=";")

print("Base de Dados: contratacoes_ultimos_12_meses.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_contratacoes_12m.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_contratacoes_12m[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_contratacoes_12m[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_contratacoes_12m.shape[0]}")
print(f"Quantidade de colunas: {df_contratacoes_12m.shape[1]}")

Base de Dados: contratacoes_ultimos_12_meses.csv

Arquitetura:
1. Coluna 'CD_CLIENTE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'QTD_CONTRATACOES_12M'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

3. Coluna 'VLR_CONTRATACOES_12M'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 4314
Quantidade de colunas: 3

In [ ]:
# Visualização Inicial da base de dados "contratacoes_ultimos_12_meses.csv"
df_contratacoes_12m.head()

  CD_CLIENTE  QTD_CONTRATACOES_12M VLR_CONTRATACOES_12M
0     T07544                     1     2104,64437581956
1     T01872                     2  0,00840771473583952
2     T05174                     3      1777,9121734701
3     T01670                     2     2934,85996355266
4     T02817                     2      4207,2204538141

#### **Base de Dados: dados_clientes.csv**

Esta base contém os dados cadastrais principais dos clientes da TOTVS. Inclui informações como ID do cliente, CNPJ, segmento de atuação, porte da empresa, estado/UF e outros atributos institucionais. Ela serve como base mestra para cruzamento com as demais tabelas e para análises demográficas da carteira de clientes.

In [ ]:
# Leitura da base de dados "dados_clientes.csv"
df_clientes = pd.read_csv(f"{path_raw}/dados_clientes.csv", sep=";")

print("Base de Dados: dados_clientes.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_clientes.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_clientes[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_clientes[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_clientes.shape[0]}")
print(f"Quantidade de colunas: {df_clientes.shape[1]}")

Base de Dados: dados_clientes.csv

Arquitetura:
1. Coluna 'CD_CLIENTE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'DS_PROD'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

3. Coluna 'DS_LIN_REC'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

4. Coluna 'CIDADE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

5. Coluna 'DS_CNAE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'DS_SEGMENTO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

7. Coluna 'DS_SUBSEGMENTO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 44

8. Coluna 'FAT_FAIXA'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

9. Coluna 'MARCA_TOTVS'
 - Tipo de dado: object
 - Quantidade de dados nulos: 904

10. Coluna 'MODAL_COMERC'
 - Tipo de dado: object
 - Quantidade de dados nulos: 11632

11. Coluna 'PAIS'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

12. Coluna 'PERIODICIDADE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 66

13. Coluna 'SITUACAO_CONTRATO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 501

14. Coluna 'UF'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

15. Coluna 'VL_TOTAL_CONTRATO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

16. Coluna 'DT_ASSINATURA_CONTRATO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 238597
Quantidade de colunas: 16

In [ ]:
# Visualização Inicial da base de dados "dados_clientes.csv"
df_clientes.head()

,CD_CLIENTE,DS_PROD,DS_LIN_REC,CIDADE,DS_CNAE,DS_SEGMENTO,DS_SUBSEGMENTO,FAT_FAIXA,MARCA_TOTVS,MODAL_COMERC,PAIS,PERIODICIDADE,SITUACAO_CONTRATO,UF,VL_TOTAL_CONTRATO,DT_ASSINATURA_CONTRATO
0,99958,SMS FULL TOTVS TRAD,SMS TOTVS SERIE T,JOINVILLE,PESSOA FISICA (SEM CNAE),SERVICOS,PROVEDOR SERVICOS,Faixa 09 - De 300 M ate 500 M,CROSS - TRADICIONAL,MODALIDADE TRADICIONAL,105,00 - Mensal,GRATUITO,SC,"1633817,36581438",2016-04-07
1,T00053,SMS COLAB NEO 2500 DOC,SMS TOTVS SERIE T,RIODEJANEIRO,Fabricacao de preparacoes farmaceuticas,MANUFATURA,BENS DURAVEIS,Faixa 05 - De 35 M ate 50 M,MANUFATURA - PARCEIRO,MODALIDADE TRADICIONAL,105,00 - Mensal,ATIVO,RJ,"341,155636978792",2015-02-27
2,T00053,HORA SUPORTE,CONSULTORIA TRADICIONAL,RIODEJANEIRO,Fabricacao de preparacoes farmaceuticas,MANUFATURA,BENS DURAVEIS,Faixa 05 - De 35 M ate 50 M,SERVICOS DE IMPLANTACAO,MODALIDADE SERVICOS NÃO RECORRENTES,105,00 - Mensal,CANCELADO,RJ,"45,3386017130146",1997-11-28
3,99958,CDU FULL TOTVS TRAD,CDU TOTVS SERIE T,JOINVILLE,PESSOA FISICA (SEM CNAE),SERVICOS,PROVEDOR SERVICOS,Faixa 09 - De 300 M ate 500 M,CROSS - TRADICIONAL,MODALIDADE TRADICIONAL,105,00 - Mensal,GRATUITO,SC,"42,0343698218297",2016-04-07
4,T00053,PROGRESS USER 11 CDU,CDU TOTVS SERIE T,RIODEJANEIRO,Fabricacao de preparacoes farmaceuticas,MANUFATURA,BENS DURAVEIS,Faixa 05 - De 35 M ate 50 M,PROGRESS,MODALIDADE TRADICIONAL,105,00 - Mensal,TROCADO,RJ,"0,117708006301753",2017-11-22

#### **Base de Dados: historico.csv**
Contém registros de eventos históricos associados aos clientes, como renovações de contrato, cancelamentos, upsells e outros marcos da jornada. Essa base é fundamental para entender o ciclo de vida do cliente e gerar variáveis comportamentais.

In [19]:
# Leitura da base de dados "historico.csv"
df_historico = pd.read_csv(f"{path_raw}/historico.csv", sep=";")

print("Base de Dados: historico.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_historico.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_historico[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_historico[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_historico.shape[0]}")
print(f"Quantidade de colunas: {df_historico.shape[1]}")

Base de Dados: historico.csv

Arquitetura:
1. Coluna 'NR_PROPOSTA'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'ITEM_PROPOSTA'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

3. Coluna 'DT_UPLOAD'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

4. Coluna 'HOSPEDAGEM'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

5. Coluna 'CD_CLI'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'FAT_FAIXA'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

7. Coluna 'CD_PROD'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

8. Coluna 'QTD'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

9. Coluna 'MESES_BONIF'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

10. Coluna 'VL_PCT_DESC_TEMP'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

11. Coluna 'VL_PCT_DESCONTO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

12. Coluna 'PRC_UNITARIO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

13. Coluna 'VL_DESCONTO_TEMPORARIO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

14. Coluna 'VL_TOTAL'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

15. Coluna 'VL_FULL'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

16. Coluna 'VL_DESCONTO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 22740
Quantidade de colunas: 16

In [7]:
# Visualização Inicial da base de dados "historico.csv"
df_historico.head()

,NR_PROPOSTA,ITEM_PROPOSTA,DT_UPLOAD,HOSPEDAGEM,CD_CLI,FAT_FAIXA,CD_PROD,QTD,MESES_BONIF,VL_PCT_DESC_TEMP,VL_PCT_DESCONTO,PRC_UNITARIO,VL_DESCONTO_TEMPORARIO,VL_TOTAL,VL_FULL,VL_DESCONTO
0,AAMQSF,1,2025-03-25,ON PREMISES,TFDPFE,Sem Informações de Faturamento,0113301112,1,0,0,"28,6492879623732","2101,92868395988",0,"2101,92868395988","6599,31618873727","4497,38750477739"
1,AAJUVA,7,2024-03-28,ON PREMISES,T03306,Faixa 08 - De 150 M ate 300 M,AUT.04.000450,1,0,0,0,"0,53388988572581",0,"0,53388988572581","0,53388988572581",0
2,AAKX71,1,2024-08-21,ON PREMISES,T48463,Faixa 03 - De 15 M ate 25 M,1M13301050,1,0,0,0,"1222,89790447049",0,"1222,89790447049","63,0578605187964",0
3,AAMJNP,1,2025-02-17,ON PREMISES,TFEED1,Sem Informações de Faturamento,71A3301148,1,0,0,0,"60,1067526465167",0,"60,1067526465167","60,1067526465167",0
4,AAKFC4,1,2024-05-23,ON PREMISES,TDC1GA,Sem Informações de Faturamento,CONSV.502,"4,5",0,0,0,"93,9520083156387",0,"422,786139349058","0,0189173581556389",0

#### **Base de Dados: mrr.csv (Monthly Recurring Revenue)**

Esta base registra o valor mensal recorrente de receita gerada por cada cliente.  
Os dados possibilitam análises de receita por perfil, comportamento financeiro ao longo do tempo e contribuem para o cálculo do LTV (Lifetime Value).

In [ ]:
# Leitura da base de dados "mrr.csv"
df_mrr = pd.read_csv(f"{path_raw}/mrr.csv", sep=";")

print("Base de Dados: mrr.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_mrr.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_mrr[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_mrr[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_mrr.shape[0]}")
print(f"Quantidade de colunas: {df_mrr.shape[1]}")

Base de Dados: mrr.csv

Arquitetura:
1. Coluna 'CLIENTE'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'MRR_12M'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 7309
Quantidade de colunas: 2

In [24]:
# Visualização Inicial da base de dados "mrr.csv"
df_mrr.head()

  CLIENTE     MRR_12M
0  T03360  485.245250
1  T01872  287.070309
2  T01899  628.717296
3  T01670  207.503636
4  T02817  890.027855

#### **Base de Dados: nps_relacional.csv**

Base com os registros do NPS relacional, medido periodicamente para avaliar a satisfação geral dos clientes em relação à TOTVS. Contém notas de 0 a 10, data da coleta e identificação do cliente. Permite análise da lealdade e percepção da marca ao longo do tempo.

In [25]:
# Leitura da base de dados "nps_relacional.csv"
df_nps_relacional = pd.read_csv(f"{path_raw}/nps_relacional.csv", sep=";")

print("Base de Dados: nps_relacional.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_nps_relacional.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_nps_relacional[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_nps_relacional[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_nps_relacional.shape[0]}")
print(f"Quantidade de colunas: {df_nps_relacional.shape[1]}")

Base de Dados: nps_relacional.csv

Arquitetura:
1. Coluna 'respondedAt'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'metadata_codcliente'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

3. Coluna 'resposta_NPS'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'resposta_unidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 2832

5. Coluna 'Nota_SupTec_Agilidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 6076

6. Coluna 'Nota_SupTec_Atendimento'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 6982

7. Coluna 'Nota_Comercial'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 7236

8. Coluna 'Nota_Custos'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 6639

9. Coluna 'Nota_AdmFin_Atendimento'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 7649

10. Coluna 'Nota_Software'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 8322

11. Coluna 'Nota_Software_Atualizacao'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 6708

Informações Gerais:
Quantidade de linhas: 14143
Quantidade de colunas: 11

In [26]:
# Visualização Inicial da base de dados "nps_relacional.csv"
df_nps_relacional.head()

,respondedAt,metadata_codcliente,resposta_NPS,resposta_unidade,Nota_SupTec_Agilidade,Nota_SupTec_Atendimento,Nota_Comercial,Nota_Custos,Nota_AdmFin_Atendimento,Nota_Software,Nota_Software_Atualizacao
0,2023-04-28 16:45:59.763,TEZHBA,9,10.0,7.0,9.0,3.0,8.0,10.0,10.0,10.0
1,2025-03-24 09:31:00.000,T04819,8,9.0,8.0,NaN,9.0,8.0,8.0,NaN,NaN
2,2024-11-22 15:42:20.000,T11082,10,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN
3,2025-01-13 16:48:09.000,T10872,10,9.0,8.0,NaN,8.0,7.0,8.0,8.0,9.0
4,2025-02-17 11:01:30.000,T01690,6,8.0,4.0,NaN,9.0,7.0,7.0,10.0,10.0

#### **Bases de Dados: nps_transacional_[tipo].csv**

Conjunto de bases que contêm os NPS transacionais, aplicados em pontos específicos da jornada do cliente, como aquisição, implantação, onboarding, suporte e uso do produto.  
Esses dados fornecem insights detalhados sobre a experiência em cada etapa do relacionamento, complementando o NPS relacional.

In [27]:
# Leitura da base de dados "nps_transacional_aquisicao.csv"
df_nps_trs_aquisicao = pd.read_csv(f"{path_raw}/nps_transacional_aquisicao.csv", sep=";", encoding="latin1")

print("Base de Dados: nps_transacional_aquisicao.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_nps_trs_aquisicao.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_nps_trs_aquisicao[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_nps_trs_aquisicao[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_nps_trs_aquisicao.shape[0]}")
print(f"Quantidade de colunas: {df_nps_trs_aquisicao.shape[1]}")

Base de Dados: nps_transacional_aquisicao.csv

Arquitetura:
1. Coluna 'Cód. Cliente'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1

2. Coluna 'Data da Resposta'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

3. Coluna 'Nota NPS'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'Nota Agilidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 89

5. Coluna 'Nota Conhecimento'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 89

6. Coluna 'Nota Custo'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 89

7. Coluna 'Nota Facilidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 89

8. Coluna 'Nota Flexibilidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 89

Informações Gerais:
Quantidade de linhas: 178
Quantidade de colunas: 8

In [28]:
# Visualização Inicial da base de dados "nps_transacional_aquisicao.csv"
df_nps_trs_aquisicao.head()

,Cód. Cliente,Data da Resposta,Nota NPS,Nota Agilidade,Nota Conhecimento,Nota Custo,Nota Facilidade,Nota Flexibilidade
0,TB1393,2025-02-26,8,9.0,8.0,8.0,8.0,9.0
1,TFEEGY,2025-02-25,10,8.0,10.0,6.0,6.0,10.0
2,TFCUYM,2025-02-25,1,NaN,NaN,NaN,NaN,NaN
3,TFCUYM,2025-02-25,8,NaN,NaN,NaN,NaN,NaN
4,TFCUYM,2025-02-25,8,NaN,NaN,NaN,NaN,NaN

In [31]:
# Leitura da base de dados "nps_transacional_implantacao.csv"
df_nps_trs_implantacao = pd.read_csv(f"{path_raw}/nps_transacional_implantacao.csv", sep=";", encoding="latin1")

print("Base de Dados: nps_transacional_implantacao.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_nps_trs_implantacao.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_nps_trs_implantacao[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_nps_trs_implantacao[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_nps_trs_implantacao.shape[0]}")
print(f"Quantidade de colunas: {df_nps_trs_implantacao.shape[1]}")

Base de Dados: nps_transacional_implantacao.csv

Arquitetura:
1. Coluna 'Cód. Cliente'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1

2. Coluna 'Data da Resposta'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

3. Coluna 'Nota NPS'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'Nota Metodologia'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 245

5. Coluna 'Nota Gestao'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 245

6. Coluna 'Nota Conhecimento'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 245

7. Coluna 'Nota Qualidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 245

8. Coluna 'Nota Comunicacao'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 245

9. Coluna 'Nota Prazos'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 245

Informações Gerais:
Quantidade de linhas: 662
Quantidade de colunas: 9

In [32]:
# Visualização Inicial da base de dados "nps_transacional_implantacao.csv"
df_nps_trs_implantacao.head()

,Cód. Cliente,Data da Resposta,Nota NPS,Nota Metodologia,Nota Gestao,Nota Conhecimento,Nota Qualidade,Nota Comunicacao,Nota Prazos
0,TFDIFA,2025-02-28,7,7.0,9.0,9.0,9.0,9.0,9.0
1,TFDCPS,2025-02-27,8,9.0,10.0,10.0,10.0,9.0,10.0
2,T54898,2025-02-27,8,8.0,9.0,8.0,7.0,8.0,7.0
3,TFDFBK,2025-02-27,9,8.0,9.0,9.0,9.0,9.0,9.0
4,T11185,2025-02-26,10,10.0,10.0,10.0,10.0,10.0,8.0

In [33]:
# Leitura da base de dados "nps_transacional_onboarding.csv"
df_nps_trs_onboarding = pd.read_csv(f"{path_raw}/nps_transacional_onboarding.csv", sep=";", encoding="latin1")

print("Base de Dados: nps_transacional_onboarding.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_nps_trs_onboarding.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_nps_trs_onboarding[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_nps_trs_onboarding[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_nps_trs_onboarding.shape[0]}")
print(f"Quantidade de colunas: {df_nps_trs_onboarding.shape[1]}")

Base de Dados: nps_transacional_onboarding.csv

Arquitetura:
1. Coluna 'Data de resposta'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'Cod Cliente'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1

3. Coluna 'Em uma escala de 0 a 10, quanto você recomenda o Onboarding da TOTVS para um amigo ou colega?.'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'Em uma escala de 0 a 10, o quanto você acredita que o atendimento CS Onboarding ajudou no início da sua trajetória com a TOTVS?'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 30

5. Coluna '- Duração do tempo na realização da reunião de Onboarding;'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 79

6. Coluna '- Clareza no acesso aos canais de comunicação da TOTVS;'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 79

7. Coluna '- Clareza nas informações em geral transmitidas pelo CS que lhe atendeu no Onboarding;'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 79

8. Coluna '- Expectativas atendidas no Onboarding da TOTVS.'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 79

Informações Gerais:
Quantidade de linhas: 208
Quantidade de colunas: 8

In [34]:
# Visualização Inicial da base de dados "nps_transacional_onboarding.csv"
df_nps_trs_onboarding.head()

,Data de resposta,Cod Cliente,"Em uma escala de 0 a 10, quanto você recomenda o Onboarding da TOTVS para um amigo ou colega?.","Em uma escala de 0 a 10, o quanto você acredita que o atendimento CS Onboarding ajudou no início da sua trajetória com a TOTVS?",- Duração do tempo na realização da reunião de Onboarding;,- Clareza no acesso aos canais de comunicação da TOTVS;,- Clareza nas informações em geral transmitidas pelo CS que lhe atendeu no Onboarding;,- Expectativas atendidas no Onboarding da TOTVS.
0,2025-03-26T15:49:31+00:00,TFEE05,10,10.0,10.0,10.0,10.0,10.0
1,2025-03-26T10:09:54+00:00,TFEEPH,10,10.0,10.0,10.0,10.0,10.0
2,2025-03-20T11:30:28+00:00,TFEENX,10,10.0,10.0,10.0,10.0,10.0
3,2025-03-18T12:00:03+00:00,TFEEID,10,NaN,NaN,NaN,NaN,NaN
4,2025-03-17T10:33:26+00:00,TFEEGI,9,9.0,9.0,9.0,9.0,9.0

In [35]:
# Leitura da base de dados "nps_transacional_produto.csv"
df_nps_trs_produto = pd.read_csv(f"{path_raw}/nps_transacional_produto.csv", sep=";", encoding="latin1")

print("Base de Dados: nps_transacional_produto.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_nps_trs_produto.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_nps_trs_produto[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_nps_trs_produto[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_nps_trs_produto.shape[0]}")
print(f"Quantidade de colunas: {df_nps_trs_produto.shape[1]}")

Base de Dados: nps_transacional_produto.csv

Arquitetura:
1. Coluna 'Data da Resposta'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'Linha de Produto'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

3. Coluna 'Nome do Produto'
 - Tipo de dado: object
 - Quantidade de dados nulos: 11406

4. Coluna 'Nota'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'Cód. T'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 113207
Quantidade de colunas: 5

In [36]:
# Visualização Inicial da base de dados "nps_transacional_produto.csv"
df_nps_trs_produto.head()

,Data da Resposta,Linha de Produto,Nome do Produto,Nota,Cód. T
0,3/28/2025 1:05:46 PM,Protheus,SIGAFAT,2,TFDNOX
1,3/28/2025 1:05:43 PM,Protheus,SIGAGPE,10,T16331
2,3/28/2025 1:05:27 PM,Protheus,SIGAFIN,7,TF1271
3,3/28/2025 1:05:17 PM,RM,TOTVS Gestão de Pessoas,5,T19014
4,3/28/2025 1:02:45 PM,Protheus,SIGAEST,7,TFBRQP

In [37]:
# Leitura da base de dados "nps_transacional_suporte.csv"
df_nps_trs_suporte = pd.read_csv(f"{path_raw}/nps_transacional_suporte.csv", sep=";")

print("Base de Dados: nps_transacional_suporte.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_nps_trs_suporte.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_nps_trs_suporte[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_nps_trs_suporte[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_nps_trs_suporte.shape[0]}")
print(f"Quantidade de colunas: {df_nps_trs_suporte.shape[1]}")

Base de Dados: nps_transacional_suporte.csv

Arquitetura:
1. Coluna 'ticket'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

2. Coluna 'resposta_NPS'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

3. Coluna 'grupo_NPS'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

4. Coluna 'Nota_ConhecimentoAgente'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 17179

5. Coluna 'Nota_Solucao'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 17174

6. Coluna 'Nota_TempoRetorno'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 17175

7. Coluna 'Nota_Facilidade'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 17174

8. Coluna 'Nota_Satisfacao'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 17176

9. Coluna 'cliente'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 74794
Quantidade de colunas: 9

In [38]:
# Visualização Inicial da base de dados "nps_transacional_suporte.csv"
df_nps_trs_suporte.head()

,ticket,resposta_NPS,grupo_NPS,Nota_ConhecimentoAgente,Nota_Solucao,Nota_TempoRetorno,Nota_Facilidade,Nota_Satisfacao,cliente
0,19478703,10,promotor,10.0,10.0,10.0,10.0,10.0,TFCLHU
1,19994447,9,promotor,9.0,9.0,9.0,9.0,9.0,TFCDXR
2,19467742,10,promotor,NaN,NaN,NaN,NaN,NaN,T16451
3,18992197,10,promotor,NaN,NaN,NaN,NaN,NaN,TEZJP5
4,19590718,10,promotor,10.0,10.0,10.0,10.0,10.0,TFCNRP

#### **Bases de Dados: telemetria_1.csv a telemetria_11.csv**

Bases de dados que registram a utilização de funcionalidades e módulos dos sistemas TOTVS pelos clientes. Cada linha representa uma interação ou sessão, contendo informações sobre data, módulo acessado, duração e usuário. Esses dados são cruciais para entender o engajamento e o comportamento digital dos clientes.

In [54]:
# Listando nome dos arquivos de telemetria
arquivos_telemetria = [f for f in os.listdir(path_raw) if "telemetria" in f]

for arquivo_telemetria in arquivos_telemetria:
    df_telemetria = pd.read_csv(f"{path_raw}/{arquivo_telemetria}", sep=",")
    
    print(f"Base de Dados: {arquivo_telemetria}\n")

    # Visualização de colunas e tipos de dados
    print("Arquitetura:")
    for i, coluna in enumerate(df_telemetria.columns, start=1):
        print(f"{i}. Coluna '{coluna}'")
        print(f" - Tipo de dado: {df_telemetria[coluna].dtype}")
        print(f" - Quantidade de dados nulos: {df_telemetria[coluna].isnull().sum()}\n")
        
    print("Informações Gerais:")
    print(f"Quantidade de linhas: {df_telemetria.shape[0]}")
    print(f"Quantidade de colunas: {df_telemetria.shape[1]}\n")

Base de Dados: telemetria_1.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1154

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 2535221

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 2535221

Informações Gerais:
Quantidade de linhas: 2535221
Quantidade de colunas: 9

Base de Dados: telemetria_10.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 822

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 1884789

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 1884789

Informações Gerais:
Quantidade de linhas: 1884789
Quantidade de colunas: 9

Base de Dados: telemetria_11.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 986

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3485570

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3485570

Informações Gerais:
Quantidade de linhas: 3485570
Quantidade de colunas: 9

Base de Dados: telemetria_2.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1115

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3298672

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3298672

Informações Gerais:
Quantidade de linhas: 3298672
Quantidade de colunas: 9

Base de Dados: telemetria_3.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 849

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 2047906

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 2047906

Informações Gerais:
Quantidade de linhas: 2047906
Quantidade de colunas: 9

Base de Dados: telemetria_4.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 852

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 1574418

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 1574418

Informações Gerais:
Quantidade de linhas: 1574418
Quantidade de colunas: 9

Base de Dados: telemetria_5.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1033

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 1681694

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 1681694

Informações Gerais:
Quantidade de linhas: 1681694
Quantidade de colunas: 9

Base de Dados: telemetria_6.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1070

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 4939234

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 4939234

Informações Gerais:
Quantidade de linhas: 4939234
Quantidade de colunas: 9

Base de Dados: telemetria_7.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1031

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3017771

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3017771

Informações Gerais:
Quantidade de linhas: 3017771
Quantidade de colunas: 9

Base de Dados: telemetria_8.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1085

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3234597

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3234597

Informações Gerais:
Quantidade de linhas: 3234597
Quantidade de colunas: 9

Base de Dados: telemetria_9.csv

Arquitetura:
1. Coluna 'clienteid'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'eventduration'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 0

3. Coluna 'moduloid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

4. Coluna 'productlineid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

5. Coluna 'referencedatestart'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'slotid'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

7. Coluna 'statuslicenca'
 - Tipo de dado: object
 - Quantidade de dados nulos: 1112

8. Coluna 'tcloud'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3104325

9. Coluna 'clienteprime'
 - Tipo de dado: float64
 - Quantidade de dados nulos: 3104325

Informações Gerais:
Quantidade de linhas: 3104325
Quantidade de colunas: 9

In [55]:
# Visualização Inicial da base de dados "telemetria[*].csv"
df_telemetria.head()

,clienteid,eventduration,moduloid,productlineid,referencedatestart,slotid,statuslicenca,tcloud,clienteprime
0,T0379900,0.000,34,2,2025-03-20,0,Desconectado,NaN,NaN
1,T1001900,0.000,9,2,2025-03-20,4134,NaN,NaN,NaN
2,T1096700,78.574,533,3,2025-03-20,4177,Desconectado,NaN,NaN
3,T1096700,435.054,533,3,2025-03-20,4177,Desconectado,NaN,NaN
4,T1096700,71.359,533,3,2025-03-20,4177,Desconectado,NaN,NaN

#### **Base de Dados: tickets.csv**

Reúne os chamados abertos pelos clientes ao suporte da TOTVS. Inclui dados sobre o tempo de abertura e resolução, tipo de solicitação, severidade, entre outros. Serve como base para análise da experiência de suporte e sua correlação com métricas de satisfação e retenção.

In [56]:
# Leitura da base de dados "tickets.csv"
df_ticktes = pd.read_csv(f"{path_raw}/tickets.csv", sep=";")

print("Base de Dados: tickets.csv\n")

# Visualização de colunas e tipos de dados
print("Arquitetura:")
for i, coluna in enumerate(df_ticktes.columns, start=1):
    print(f"{i}. Coluna '{coluna}'")
    print(f" - Tipo de dado: {df_ticktes[coluna].dtype}")
    print(f" - Quantidade de dados nulos: {df_ticktes[coluna].isnull().sum()}\n")
    
print("Informações Gerais:")
print(f"Quantidade de linhas: {df_ticktes.shape[0]}")
print(f"Quantidade de colunas: {df_ticktes.shape[1]}")

Base de Dados: tickets.csv

Arquitetura:
1. Coluna 'CODIGO_ORGANIZACAO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

2. Coluna 'NOME_GRUPO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

3. Coluna 'TIPO_TICKET'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

4. Coluna 'STATUS_TICKET'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

5. Coluna 'DT_CRIACAO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

6. Coluna 'DT_ATUALIZACAO'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

7. Coluna 'BK_TICKET'
 - Tipo de dado: int64
 - Quantidade de dados nulos: 0

8. Coluna 'PRIORIDADE_TICKET'
 - Tipo de dado: object
 - Quantidade de dados nulos: 0

Informações Gerais:
Quantidade de linhas: 976364
Quantidade de colunas: 8

In [57]:
# Visualização Inicial da base de dados "tickets.csv"
df_ticktes.head()

,CODIGO_ORGANIZACAO,NOME_GRUPO,TIPO_TICKET,STATUS_TICKET,DT_CRIACAO,DT_ATUALIZACAO,BK_TICKET,PRIORIDADE_TICKET
0,TFCPWG,Fábrica Consinco,task,closed,2024-11-12,2025-01-02,21787048,low
1,TB2434,PC - Financeiro,question,closed,2024-05-07,2024-05-16,20066662,normal
2,TFBYNF,TOTVS Chef Corporativo,question,closed,2024-03-19,2024-04-03,19662250,low
3,TFCNAD,PC - Financeiro,question,closed,2024-06-25,2024-07-04,20517470,normal
4,TFDJLF,AGT CLOUD RM STD,question,closed,2024-02-02,2024-02-06,19222316,low